<div class="inner-container">
  <div class="content-section">
    <div class="page-title">
        <h1> <span class="blast" (mouseenter)="animateOnHover($event)">Accomplishments</span></h1>
    </div>
    <div>
      <div>
          <div class="mycontent-section">
        <h3>Achivements:</h3>
        
        <ul>
          <li><span>An honor to be a part of the Panel of Judges for the hackathon – Code for Asia 2017.</span></li>
          <li><span>Author and Admin of the tech blog Break D Hack (www.breakdhack.com).</span></li>
          <li><span>Winner of the Google Ideathon 2013 online idea-pulling event conducted by Google.</span></li>
          <li><span>Committee member of IEEE WIE Chennai (India) Chapter.</span></li>
        </ul>
      </div>
      <div>
        <h3>Certifications:</h3>
        <ul>
          <li><span>IBM Blockchain Essentials – January 2018 – Present.</span></li>
        </ul>
      </div>
    </div>
    </div>
  </div>
  <div class="media-section"></div>
</div>