<div class="inner-container">
  <div class="content-section">
    <div class="page-title">
      <h1>
        <span class="blast" (mouseenter)="animateOnHover($event)">About</span>
      </h1>
    </div>
    <div>
      <p>
        A highly motivated and creative software engineer with excellent technical and communication skills. A far-sighted individual
        who can aspiringly contribute and make a positive difference on all the endeavors.
      </p>
      <p class="quotes">
        To put it in casual terms am a techie, a software and hardware Enthusiast, a hardcore gamer with an interest in blogging.
      </p>
      <p>
        Areas of Interest : Machine learning, Android App, API, Products, Games and blockchain development.
      </p>
    </div>
  </div>
  <div class="media-section">
    <div class="running-program" id="running-program">
      <span>Private SoftwareEngineer hireSoftwareEngineer(JobDescription jD) &#123;</span>
      <span>SoftwareEngineer divakarSivashankar = new SoftwareEngineer(this.divakarSivashankarSkills);</span>
      <span>if(jD == null) &#123;</span>
      <span>this.logger.info("Job Description was null");</span>
      <span>return null;</span>
      <span>&#125;</span>
      <span>if(jD.profile == "Front End Developer") &#123;</span>
      <span>this.logger.info("Divakar is updating his Front End Skills :)");</span>
      <span>divakarSivashankar = this.learnFrontEndFaster(divakarSivashankar);</span>
      <span>this.logger.info("Divakar has upgraded his Front End skills to match your Job description.");</span>
      <span>&#125;</span>
      <span>else if(jD.profile == "Back End Developer" || jD.profile == "Mobile Developer") &#123;</span>
      <span>this.logger.info("Divakar is an AWESOME backend and Mobile developer!!!! :)");</span>
      <span>&#125;</span>
      <span>else &#123;</span>
      <span>this.logger.info("Divakar is inquisitive and a quick leaner :). He is working on improving his skills to match your
        requirements.");
      </span>
      <span>divakarSivashankar = this.learnJobProfile(divakarSivashankar, jD.profile);</span>
      <span>this.logger.info("Divakar has upgraded his skills to match your Job description.");</span>
      <span>&#125;</span>
      <span>return divakarSivashankar;</span>
      <span>&#125;</span>
    </div>
  </div>
</div>