.running-program {
    line-height: normal;
    height: 100vh;
}



.running-program {
    height: auto;
    font-family: Roboto Mono,monospace;
    position: fixed;
    color: #8BC34A;
    bottom: 0;
    font-size: 14px;
    right: 20px;
    line-height: normal;
    padding: 20px;
    background: #000;
    height: 300px;
    width: 600px;
}

.subtitle {
    color: #ffffff;
}

.running-program span {
    display: block;
}

.running-program:after {
    /* content: '|'; */
}

@media only screen and (max-width: 768px) {
    .running-program {
        /* display: none; */
    }
}