<div class="inner-container">
  <div class="content-section">
    <div class="page-title">
      <h1>
        <span class="blast" (mouseenter)="animateOnHover($event)">Projects</span>
      </h1>
    </div>
    <div>
    <div class="mycontent-section">
      <div>
        <ul>
          <li>
            <span>Developed
              <i>Scala Application</i> which uses
              <i>Twitter API</i> to
              <i>fetch the top 10 Hashtags</i> and loads the tweets with those hashtags into
              <i>HDFS</i> with help of
              <i>Flume</i> for further analytics.</span>
          </li>
          <li>
            <span>Developed a
              <i>C++ application</i> which uses
              <i>Gmail RESTful API</i> to fetch user mail from particular time frames and stores them locally in an encrypted
              form.
            </span>
          </li>
          <li>
            <span>Designed and developed an
              <i>“In-Clinic Consultation” Android Application</i> for
              <i>MDXcess Pte Ltd</i> in
              <i>Agile methodology</i>, leveraging
              <i>Voice recognition and Wearable technologies</i> to provide one tap details on patient reports and annotation
              of Medical images.</span>
          </li>
          <li>
            <span>Developed an
              <i>Android Weather app</i> for Singapore which uses
              <i>Location Manager</i> and
              <i>NEA’s Restful Web Service</i>.</span>
          </li>
          <li>
            <span>Developed a
              <i>2D Plat former game</i> with Unity Engine using C# Scripting.</span>
          </li>
          <li>
            <span>
              <i>“D Launcher” Android Launcher Application</i> which will totally redesign the
              <i>UI and UX of the Android device</i>. </span>
          </li>
          <li>
            <span>Developed an Android Application to take advantage the power of
              <i>Beacon Technology to send predefined Push Notifications</i>.</span>
          </li>
          <li>
            <span>Developed an
              <i>iOS Application “Plan Your Travel”</i> which will harness the API exposed by
              <i>Land Transport Authority of Singapore (LTA) and Google’s Direction API</i> to give the best route and latest
              time to start for your Travel.</span>
          </li>
          <li>
            <span>Developed an
              <i>iOS video recorder app</i> which will provide the ability to have text overlay using
              <i>Unity</i>.</span>
          </li>
          <li>
            <span>Developed a
              <i>ChatBot</i> which send in videos of your interest via
              <i>Facebook Messenger or Telegram or Skype</i> using the
              <i>wit.AI and Facebook or Telegram or Skype API respectively</i>.</span>
          </li>
          <li>
            <span>Developing a
              <i>Java based 3D open world game engine</i> using
              <i>Java, OpenGL and LWJGL</i>.</span>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </div>
  <div class="media-section">
    <div class="slider">
      <div>
        <img src="assets/img/Arduino_Board_POC.JPG">
      </div>
      <div>
        <img src="assets/img/ChatBot_in_FB.PNG">
      </div>
      <div>
        <img src="assets/img/Cloudy_Screenshot.png">
      </div>
      <div>
        <img src="assets/img/Sunny_Screenshot.png">
      </div>
      <div>
        <img src="assets/img/ChatBot_in_telegram.PNG">
      </div>
      <div>
        <img src="assets/img/DEngine_Game_Engine_Person.png">
      </div>
      <div>
        <img src="assets/img/Details_Screen_Portrait.jpg">
      </div>
      <div>
        <img src="assets/img/DEngine_Game_Engine.png">
      </div>
      <div>
        <img src="assets/img/Launch_Screen_Portrait.jpg">
      </div>
      <div>
        <img src="assets/img/Trump_AR_Game(ARKIT).PNG">
      </div>
      <div>
        <img src="assets/img/Map_Screen_Portrait.jpg">
      </div>
    </div>
  </div>
</div>