.page-not-found {
    position: relative;
    text-align: center;
    height: 100vh;
}

h1 {
    font-size: 80px;
    color: #464646;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}