.inner-container {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
}

.page-title h1 {
    font-size: 60px;
    color: white;
    margin-top: 30px;
    margin-bottom: 15px;
}

.content-section p {
    font-size: 18px;
    color: #989898;
    line-height: 1.75rem;
    margin-bottom: 10px;
}

.content-section,
.media-section {
    flex: 1;
    box-sizing: border-box;
}

.content-section {
    margin-left: 50px;
    margin-right: 50px;
}




agm-map {
    height: 100vh;
    color: "#0c0000";
}

.animated-Up {
    position: absolute;
    background: #363636;
    top:50px;
    right:20%;
    z-index: 999999;
    width: 230px;
    padding: 20px;
    color:#fff;
    font-family: "Open Sans", "Helvetica", Arial, sans-serif;
    font-size: 17px;
    font-weight: 300;
    opacity: 100;
}
.animated-Up span {
    font-size: 16px;
}
.animated-Up span span {
    color:#08fdd8;
}

.elastic {
    animation: Elastic 0.5s;
}

.show-in {
    transform: scale(1, 1);
}

h1 span {
    opacity: 0;
    font-size: 60px;
    color: white;
    display: inline-block;
    cursor: default;
}

h1 span.show {
    opacity: 1;
}


h1 span.bounce {
    animation: BounceIn 0.5s;
    opacity: 1;
}


@keyframes Elastic {
    0% {
        transform: matrix3d(1, 0, 0.00, 0, 0.00, 1, 0.00, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1, 0, 0.00, 0, 0.00, 1, 0.00, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    25% {
        transform: matrix3d(1.1, 0, 0.00, 0, 0.00, 0.9, 0.00, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1.1, 0, 0.00, 0, 0.00, 0.9, 0.00, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    50% {
        transform: matrix3d(0.8, 0, 0.00, 0, 0.00, 1.1, 0.00, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(0.8, 0, 0.00, 0, 0.00, 1.1, 0.00, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    75% {
        transform: matrix3d(1, 0, 0.00, 0, 0.00, 0.9, 0.00, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1, 0, 0.00, 0, 0.00, 0.9, 0.00, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
        transform: matrix3d(1, 0, 0.00, 0, 0.00, 1, 0.00, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1, 0, 0.00, 0, 0.00, 1, 0.00, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}

@keyframes BounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1)
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03)
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes 
fadeInUp{
    0% {
        opacity:0;
        -webkit-transform:translate3d(0,100%,0);
        -ms-transform:translate3d(0,100%,0);
        transform:translate3d(0,100%,0)
    }
    100% {
        opacity:1;
        -webkit-transform:none;
        -ms-transform:none;
        transform:none
    }
}
