<div class="inner-container">
  <div class="content-section">
    <div class="page-title">
      <h1>
        <span class="blast" (mouseenter)="animateOnHover($event)">Contact</span>
      </h1>
    </div>
    <div class="mycontent-section">
    <div>
      <div>
        <p>+65 8712 0790</p>
        <a href="mailto:divakarsivashankar@gmail.com">divakarsivashankar@gmail.com</a>
      </div>
      <div class="social-links-contact">
        <div>
          <ul>
            <li>
              <a href="https://www.linkedin.com/in/divakar-sivashankar">
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/Divakarsiva">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/divakar.siva.3">
                <i class="fab fa-facebook-square"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </div>
  </div>




  <div class="media-section relative-section">
    <div class="map-info animated-Up">
      Divakar Sivashankar, Singapore
      <br>
      <br>
      <span>
        <span>Email @</span>
        : divakarsivashankar@gmail.com
      </span>
    </div>
    <agm-map [latitude]="lat" [longitude]="lng" [minZoom]="18" [styles]="styles">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
</div>