.map-info {
    position: absolute;
    background: #000;
    color: #fff;
    padding: 20px;
    z-index: 1;
    top: 30px;
    left: 30px;
    opacity: 0;
    font-size: 14px;
}

.social-links-contact {
    margin-top: 20px;
    text-align: left;
}

.social-links-contact div {
    display: inline-block;
}

.social-links-contact a {
    font-size: 2rem;
    color: #4d4d4d;
    transition: 0.3s color ease-out;
}

.social-links-contact a:hover {
    font-size: 2rem;
    color: #5bdbbb;
}

.social-links-contact ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-links-contact ul li a {
    padding: 10px;
}

.social-links-contact {
    margin-bottom: 20px;
}

.relative-section {
    position: relative;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        -ms-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}

.fadeInUp {
    animation: fadeInUp 1s;
    opacity: 1;
}

.map-info span span {
    color: #5bdbbb;
}

a {
    color: #5bdbbb;
}
