<div class="inner-container">
  <div class="content-section">
    <div class="page-title">
      <h1>
        <span class="blast" >Skills</span>
      </h1>
    </div>
    <div>
      <div>
        <ul>
          <li>
            <span><b>Front end:</b> HTML, CSS, JavaScript, jQuery, Bootstrap, Angular 1 and 2, D3.</span>
          </li>
          <li>
            <span><b>Backend:</b> Java, C#, Swift, C++, Python, Node.js, Spark(Scala and Java)</span>
          </li>
          <li>
            <span><b>Database:</b> Mysql, Mssql, Sqllite, Mongodb, Hive or Impala(from object file store)</span>
          </li>
          <li>
            <span><b>Devop:</b> Docker, Kubernetes, Jenkins</span>
          </li>
          <li>
            <span><b>Version control:</b> Git, SVN, TFS </span>
          </li>
          <li>
            <span><b>Cloud:</b> Amazon Web Services, Azure and Google Cloud Platform</span>
          </li>
          <li>
            <span><b>Platform:</b> Mobile(native), Web, API and Clustered HA big data solutions.</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="media-section"></div>
</div>