<div class="inner-container">
    <div row>
        <div class="typingMyCode">
          <span typingAnimation hideCursorOnComplete="true" [typeSpeed]="20" [startDelay]="3500" hideCursorOnComplete="true" >
            Private SoftwareEngineer hireSoftwareEngineer(JobDescription jD) &#123;
          </span>
          <br>
          <div> &emsp;<span typingAnimation hideCursorOnComplete="true" [typeSpeed]="20" [startDelay]="5550" [hideCursorOnComplete]="true" >
  
            &emsp;SoftwareEngineer divakarSivashankar = new SoftwareEngineer(this.divakarSivashankarSkills);
          </span>
          </div>
          <br>
          <div> &emsp;<span typingAnimation [typeSpeed]="20" [startDelay]="8200" hideCursorOnComplete="true" >
            &emsp; if(jD == null)&#123;
          </span>
        </div>
          <br>
        
          <div> &emsp;&emsp;<span typingAnimation [typeSpeed]="20" [startDelay]="8800" hideCursorOnComplete="true" >
            <br> this.logger.info("Job Description was null");
          </span>
        </div>
          <br>
          <div> &emsp;&emsp;<span typingAnimation [typeSpeed]="20" [startDelay]="10500" hideCursorOnComplete="true" >
            <br> &emsp;&emsp;return null;
          </span>
          </div>
          <br>
          <div> &emsp;<span typingAnimation [typeSpeed]="20" [startDelay]="11200" hideCursorOnComplete="true">
            <br> &emsp; &#125;
          </span>
          </div>
          <br>
          <div> &emsp;<span typingAnimation [typeSpeed]="20" [startDelay]="11500" hideCursorOnComplete="true" >
            &emsp;if(jD.profile == "Front End Developer") &#123;
          </span>
          </div>
          <br>
          <div> &emsp;&emsp;<span typingAnimation [typeSpeed]="20" [startDelay]="13000" hideCursorOnComplete="true">
            &emsp;&emsp;this.logger.info("Divakar is updating his Front End Skills. :)");
          </span>
          </div>
          <br>
          <div> &emsp;&emsp;<span typingAnimation [typeSpeed]="20" [startDelay]="15200" hideCursorOnComplete="true">
            &emsp;&emsp;divakarSivashankar = this.learnFrontEndFaster(divakarSivashankar);
          </span>
          </div>
          <br>
          <div> &emsp;&emsp;<span typingAnimation [typeSpeed]="20" [startDelay]="17500" hideCursorOnComplete="true">
            &emsp;&emsp;this.logger.info("Divakar has upgraded his Front End skills to match your Job description.");
          </span>
          </div>
          <br>

          <div> &emsp;<span typingAnimation [typeSpeed]="20" [startDelay]="20300" hideCursorOnComplete="true">
            &emsp;&#125;
          </span>
          </div>
          <br>
  
          <div> &emsp;<span typingAnimation [typeSpeed]="20" [startDelay]="20700" hideCursorOnComplete="true">
            &emsp;else if(jD.profile == "Back End Developer" || jD.profile == "Mobile Developer") &#123;
          </span>
          </div>
          <br>
          <div> &emsp;&emsp;<span typingAnimation [typeSpeed]="20" [startDelay]="22900" hideCursorOnComplete="true">
            &emsp;&emsp;this.logger.info("Divakar is an AWESOME backend and Mobile developer!!!! :)");
          </span>
          </div>
          <br>
  
          <div>  &emsp;<span typingAnimation [typeSpeed]="20" [startDelay]="24900" hideCursorOnComplete="true">
            &emsp;&#125;
          </span>
          </div>
          <br>
          <div> &emsp;<span typingAnimation [typeSpeed]="20" [startDelay]="25400" hideCursorOnComplete="true">
            &emsp;else &#123;
          </span>
          </div>
        <br>
  
        <div> &emsp;&emsp;<span typingAnimation [typeSpeed]="20" [startDelay]="25800" hideCursorOnComplete="true">
            &emsp;&emsp;this.logger.info("Divakar is inquisitive and a quick leaner :). He is working on improving his skills to match
            your requirements.");
          </span>
          </div>
          <br>
          <div> &emsp;&emsp;<span typingAnimation [typeSpeed]="20" [startDelay]="30000" hideCursorOnComplete="true">
            &emsp;&emsp;divakarSivashankar = this.learnJobProfile(divakarSivashankar, jD.profile);
          </span>
          </div>
          <br>
  
          <div> &emsp;&emsp;<span typingAnimation [typeSpeed]="20" [startDelay]="32000" hideCursorOnComplete="true">
            &emsp;&emsp;this.logger.info("Divakar has upgraded his skills to match your Job description.");
          </span>
          </div>
          <br>
          <div> &emsp;<span typingAnimation [typeSpeed]="20" [startDelay]="33100" hideCursorOnComplete="true">
            &emsp;&#125;
          </span>
          </div>
          <br>
  
          <div> &emsp;<span typingAnimation [typeSpeed]="20" [startDelay]="33800" hideCursorOnComplete="true">
            &emsp;return divakarSivashankar;
          </span>
          </div>
          <br>
          <span typingAnimation [typeSpeed]="20" [startDelay]="34300" >
            &#125;
          </span>
          <br>
        </div>
      </div>
  
  
  <div class="content-section">
    <div>
      <h1>
        <span class="blast" (mouseenter)="animateOnHover($event)">H</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">i</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">,</span>
        <br>
        <span class="blast" (mouseenter)="animateOnHover($event)">I</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">’</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">m</span>
        <span>&nbsp;</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">D</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">i</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">v</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">a</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">k</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">a</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">r</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">,</span>
        <br>
        <span class="blast" (mouseenter)="animateOnHover($event)">S</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">o</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">f</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">t</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">w</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">a</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">r</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">e</span>
        <span>&nbsp;</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">E</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">n</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">g</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">i</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">n</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">e</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">e</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">r</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">.</span>
      </h1>

    </div>
 
  </div>



  <div class="media-section">
    <div class="social-links">
      <div>
        <ul>
          <li>
            <a href="https://www.linkedin.com/in/divakar-sivashankar">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/Divakarsiva">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/divakar.siva.3">
              <i class="fab fa-facebook-square"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <img id="my-photo" src="../assets/img/polaroid_frame_img.png" alt="">
    </div>



  </div>


</div>
