<div class="inner-container">
  <div class="content-section">
    <div>
      <h1>
        <span class="blast" (mouseenter)="animateOnHover($event)">H</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">i</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">,</span>
        <br>
        <span class="blast" (mouseenter)="animateOnHover($event)">I</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">’</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">m</span>
        <span>&nbsp;</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">D</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">i</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">v</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">a</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">k</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">a</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">r</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">,</span>
        <br>
        <span class="blast" (mouseenter)="animateOnHover($event)">S</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">o</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">f</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">t</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">w</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">a</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">r</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">e</span>
        <span>&nbsp;</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">E</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">n</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">g</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">i</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">n</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">e</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">e</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">r</span>
        <span class="blast" (mouseenter)="animateOnHover($event)">.</span>
      </h1>
    </div>
  </div>
  <div class="media-section">
    <div class="social-links">
      <div>
        <ul>
          <li>
            <a href="https://www.linkedin.com/in/divakar-sivashankar">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/Divakarsiva">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/divakar.siva.3">
              <i class="fab fa-facebook-square"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <img id="my-photo" src="../assets/img/polaroid_frame.png" alt="">
    </div>
  </div>
</div>
